FKB46-461/FKB-Veg.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:app="http://skjema.geonorge.no/SOSI/produktspesifikasjon/FKB-Veg/4.6" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="http://skjema.geonorge.no/SOSI/produktspesifikasjon/FKB-Veg/4.6" version="4.6">
  <annotation>
    <documentation>Spesifikasjonen gjelder for de enkelte vegelementene som beskriver veglegemets geometri. I tillegg inngår tilhørende vegsituasjonsobjekter og flategeometri for traktorveger i datasettet.

FKB-Veg versjon 4.6 baserer seg på generelle konsepter definert i SOSI del 1 versjon 4.5 og SOSI del 2 Vegistuasjon versjon 4.5</documentation>
  </annotation>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="AnnetVegarealAvgrensning" substitutionGroup="app:KvalitetPåkrevd" type="app:AnnetVegarealAvgrensningType">
    <annotation>
      <documentation>avgrensning av private avkjørsler, ytterkant av åpne parkeringsplasser i tilknytning til veg, korte gang- og sykkelveger som ikke hører til hovedvegnettet (for eksempel småveger mellom bebyggelse)</documentation>
    </annotation>
  </element>
  <complexType name="AnnetVegarealAvgrensningType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AnnetVegarealAvgrensningPropertyType">
    <sequence minOccurs="0">
      <element ref="app:AnnetVegarealAvgrensning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FartsdemperAvgrensning" substitutionGroup="app:KvalitetPåkrevd" type="app:FartsdemperAvgrensningType">
    <annotation>
      <documentation>avgrensning av forhøyning i veger og/eller gater for å begrense kjørehastigheten</documentation>
    </annotation>
  </element>
  <complexType name="FartsdemperAvgrensningType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FartsdemperAvgrensningPropertyType">
    <sequence minOccurs="0">
      <element ref="app:FartsdemperAvgrensning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="Fellesegenskaper" substitutionGroup="gml:AbstractFeature" type="app:FellesegenskaperType">
    <annotation>
      <documentation>abstrakt objekt som bærer en felles egenskaper som brukes på alle objekttyper i FKB</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="FellesegenskaperType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identifikasjon" type="app:IdentifikasjonPropertyType">
            <annotation>
              <documentation>Unik identifikasjon av objektet</documentation>
            </annotation>
          </element>
          <element name="datafangstdato" type="date">
            <annotation>
              <documentation>dato når objektet siste gang ble registrert/observert/målt i terrenget</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">DATAFANGSTDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsversjon" type="app:RegistreringsversjonPropertyType">
            <annotation>
              <documentation>angivelse av hvilken produktspesifikasjon som er utgangspunkt for dataene</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="verifiseringsdato" type="date">
            <annotation>
              <documentation>dato når dataene er fastslått å være i samsvar med virkeligheten</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VERIFISERINGSDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="oppdateringsdato" type="dateTime">
            <annotation>
              <documentation>dato for siste endring på objektetdataene</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">OPPDATERINGSDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="informasjon" type="string">
            <annotation>
              <documentation>generell opplysning</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">INFORMASJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="prosesshistorie" type="string">
            <annotation>
              <documentation>beskrivelse av de prosesser som dataene er gått gjennom som kan ha betydning for kvaliteten og bruken av dataene</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">PROSESS_HISTORIE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kopidata" type="app:KopidataPropertyType">
            <annotation>
              <documentation>angivelse av at objektet er hentet fra et kopidatasett og ikke fra originaldatasettet</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FellesegenskaperPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Fellesegenskaper"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FeristAvgrensning" substitutionGroup="app:KvalitetPåkrevd" type="app:FeristAvgrensningType">
    <annotation>
      <documentation>avgrensning av ferist</documentation>
    </annotation>
  </element>
  <complexType name="FeristAvgrensningType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeristAvgrensningPropertyType">
    <sequence minOccurs="0">
      <element ref="app:FeristAvgrensning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Fortauskant" substitutionGroup="app:KvalitetPåkrevd" type="app:FortauskantType">
    <annotation>
      <documentation>avgrensning av del av veg reservert for gående</documentation>
    </annotation>
  </element>
  <complexType name="FortauskantType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="kant" type="gml:CurvePropertyType">
            <annotation>
              <documentation>forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nedsenketKantstein" type="boolean">
            <annotation>
              <documentation>om fortauskanten er nedsenket eller ikke</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NEDSENKETKANTSTEIN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydereferanse" type="app:HøydereferanseType">
            <annotation>
              <documentation>koordinatregistering utført på topp eller bunn av et objekt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">HREF</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FortauskantPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Fortauskant"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FortauskantYtre" substitutionGroup="app:KvalitetPåkrevd" type="app:FortauskantYtreType">
    <annotation>
      <documentation>avgrensning av fortau ut mot terreng/bebyggelse i en gate (ikke langs kjørebanen)</documentation>
    </annotation>
  </element>
  <complexType name="FortauskantYtreType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FortauskantYtrePropertyType">
    <sequence minOccurs="0">
      <element ref="app:FortauskantYtre"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="GangSykkelveg" substitutionGroup="app:Fellesegenskaper" type="app:GangSykkelvegType">
    <annotation>
      <documentation>bane for fotgjengere og syklister langs eller nær en kjøreveg</documentation>
    </annotation>
  </element>
  <complexType name="GangSykkelvegType">
    <complexContent>
      <extension base="app:FellesegenskaperType">
        <sequence>
          <element name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>objektets utstrekning</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>sted som objektet eksisterer på</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GangSykkelvegPropertyType">
    <sequence minOccurs="0">
      <element ref="app:GangSykkelveg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="GangSykkelvegkant" substitutionGroup="app:KvalitetPåkrevd" type="app:GangSykkelvegkantType">
    <annotation>
      <documentation>avgrensning av bane for fotgjengere og syklister langs eller nær en kjøreveg</documentation>
    </annotation>
  </element>
  <complexType name="GangSykkelvegkantType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nedsenketKantstein" type="boolean">
            <annotation>
              <documentation>om fortauskanten er nedsenket eller ikke</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NEDSENKETKANTSTEIN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydereferanse" type="app:HøydereferanseType">
            <annotation>
              <documentation>koordinatregistering utført på topp eller bunn av et objekt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GangSykkelvegkantPropertyType">
    <sequence minOccurs="0">
      <element ref="app:GangSykkelvegkant"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="GangfeltAvgrensning" substitutionGroup="app:KvalitetPåkrevd" type="app:GangfeltAvgrensningType">
    <annotation>
      <documentation>avgrensning av gangfelt</documentation>
    </annotation>
  </element>
  <complexType name="GangfeltAvgrensningType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GangfeltAvgrensningPropertyType">
    <sequence minOccurs="0">
      <element ref="app:GangfeltAvgrensning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Gangvegkant" substitutionGroup="app:KvalitetPåkrevd" type="app:GangvegkantType">
    <annotation>
      <documentation>avgrensning av gangveg</documentation>
    </annotation>
  </element>
  <complexType name="GangvegkantType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GangvegkantPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Gangvegkant"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="HøydeOverBakken" substitutionGroup="gml:AbstractObject" type="app:HøydeOverBakkenType">
    <annotation>
      <documentation>objekts høyde over bakken

Merknad:
Kan være aktuelt i forbindelse med ulike typer objekter med utstrekning i høyde, slik som telefonstolper, gjerde, etc. Må brukes med forsiktighet og det må komme klart fram hvilke detalj av objektet eller objektets overbygning høyden relateres til.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">HOB</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="HøydeOverBakkenType">
    <sequence/>
  </complexType>
  <complexType name="HøydeOverBakkenPropertyType">
    <sequence>
      <element ref="app:HøydeOverBakken"/>
    </sequence>
  </complexType>
  <simpleType name="HøydereferanseType">
    <annotation>
      <documentation>koordinatregistering utført på topp eller bunn av et objekt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">HREF</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="app:HøydereferanseEnumerationType app:HøydereferanseOtherType"/>
  </simpleType>
  <simpleType name="HøydereferanseEnumerationType">
    <annotation>
      <documentation>koordinatregistering utført på topp eller bunn av et objekt</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">HREF</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="FOT"/>
      <enumeration value="TOP"/>
      <enumeration value="UKJENT">
        <annotation>
          <documentation>benyttes ikke ved nyregistrering

-- Definition -- 
is not used during new registration</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HøydereferanseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Identifikasjon" substitutionGroup="gml:AbstractObject" type="app:IdentifikasjonType">
    <annotation>
      <documentation>Unik identifikasjon av et objekt, ivaretatt av den ansvarlige produsent/forvalter, som kan benyttes av eksterne applikasjoner som referanse til objektet.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">IDENT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="IdentifikasjonType">
    <sequence>
      <element name="lokalId" type="string">
        <annotation>
          <documentation>Unik identifikator innenfor navnerommet. For FKB benyttes UUID.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LOKALID</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element name="navnerom" type="string">
        <annotation>
          <documentation>navnerom i form av en URI</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NAVNEROM</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="versjonId" type="string">
        <annotation>
          <documentation>identifikasjon av en spesiell versjon av et geografisk objekt (instans), maksimum lengde på 25 karakterers. Dersom spesifikasjonen av et geografisk objekt med en identifikasjon inkludererer livsløpssyklusinformasjon, benyttes denne versjonId for å skille mellom ulike versjoner av samme objekt. versjonId er en unik  identifikasjon av versjonen. Benyttes normalt ikke i FKB.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VERSJONID</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="IdentifikasjonPropertyType">
    <sequence>
      <element ref="app:Identifikasjon"/>
    </sequence>
  </complexType>
  <element name="KantUtsnitt" substitutionGroup="gml:AbstractFeature" type="app:KantUtsnittType">
    <annotation>
      <documentation>avgrensning av et utsnitt. KantUtsnitt lagres ikke i forvaltningsbasen men kan benyttes for å lage komplette flateavgrensninger ved klipping av et område ut fra forvaltningsbasen. KantUtsnitt kan derfor finnes i fileksporter.</documentation>
    </annotation>
  </element>
  <complexType name="KantUtsnittType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="identifikasjon" type="app:IdentifikasjonPropertyType">
            <annotation>
              <documentation>Unik identifikasjon av objektet</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KantUtsnittPropertyType">
    <sequence minOccurs="0">
      <element ref="app:KantUtsnitt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Kjørebanekant" substitutionGroup="app:KvalitetPåkrevd" type="app:KjørebanekantType">
    <annotation>
      <documentation>angir begrensning av kjørebanen, dvs overgang mellom kjørebane og skulder</documentation>
    </annotation>
  </element>
  <complexType name="KjørebanekantType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KjørebanekantPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Kjørebanekant"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Kopidata" substitutionGroup="gml:AbstractObject" type="app:KopidataType">
    <annotation>
      <documentation>angivelse av at objektet er hentet fra en kopi av originaldata</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">KOPIDATA</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="KopidataType">
    <sequence>
      <element name="områdeId" type="integer">
        <annotation>
          <documentation>identifikasjon av område som dataene dekker

Merknad: Kan angis med kommunenummer eller fylkesnummer. Disse bør spesifiseres nærmere.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">OMRÅDEID</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element name="originalDatavert" type="string">
        <annotation>
          <documentation>ansvarlig etat for forvaltning av data</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">ORIGINALDATAVERT</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element name="kopidato" type="date">
        <annotation>
          <documentation>dato når objektet ble kopiert fra originaldatasettet  

Merknad:
Er en del av egenskapen Kopidata. Brukes i de tilfeller hvor en kopidatabase brukes til distribusjon.
Å kopiere et datasett til en kopidatabase skal ikke føre til at Oppdateringsdato blir endret.
Eventuell redigering av data i et kopidatasett medfører ny Oppdateringsdato, Datafangstdato og/eller Verifiseringsdato.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">KOPIDATO</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="KopidataPropertyType">
    <sequence>
      <element ref="app:Kopidata"/>
    </sequence>
  </complexType>
  <element abstract="true" name="KvalitetOpsjonell" substitutionGroup="app:Fellesegenskaper" type="app:KvalitetOpsjonellType">
    <annotation>
      <documentation>Posisjonskvalitet er opsjonell. Brukes stort sett på fiktive linjer i FKB</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="KvalitetOpsjonellType">
    <complexContent>
      <extension base="app:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="kvalitet" type="app:PosisjonskvalitetPropertyType">
            <annotation>
              <documentation>beskrivelse av kvaliteten på stedfestingen</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KvalitetOpsjonellPropertyType">
    <sequence minOccurs="0">
      <element ref="app:KvalitetOpsjonell"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="KvalitetPåkrevd" substitutionGroup="app:Fellesegenskaper" type="app:KvalitetPåkrevdType">
    <annotation>
      <documentation>Posisjonskvalitet påkrevd. Brukes stort sett på på kurve- og punktobjekter i FKB.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="KvalitetPåkrevdType">
    <complexContent>
      <extension base="app:FellesegenskaperType">
        <sequence>
          <element name="kvalitet" type="app:PosisjonskvalitetPropertyType">
            <annotation>
              <documentation>beskrivelse av kvaliteten på stedfestingen</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KvalitetPåkrevdPropertyType">
    <sequence minOccurs="0">
      <element ref="app:KvalitetPåkrevd"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MediumType">
    <annotation>
      <documentation>objektets beliggenhet i forhold til jordoverflaten

Eksempel:
Veg på bro, i tunnel, inne i et bygningsmessig anlegg, etc.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">MEDIUM</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="app:MediumEnumerationType app:MediumOtherType"/>
  </simpleType>
  <simpleType name="MediumEnumerationType">
    <annotation>
      <documentation>objektets beliggenhet i forhold til jordoverflaten

Eksempel:
Veg på bro, i tunnel, inne i et bygningsmessig anlegg, etc.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">MEDIUM</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="V"/>
      <enumeration value="B"/>
      <enumeration value="L"/>
      <enumeration value="I"/>
      <enumeration value="S"/>
      <enumeration value="T">
        <annotation>
          <documentation>default</documentation>
        </annotation>
      </enumeration>
      <enumeration value="O"/>
      <enumeration value="D"/>
      <enumeration value="J"/>
      <enumeration value="W"/>
      <enumeration value="U"/>
      <enumeration value="X">
        <annotation>
          <documentation>ukjent</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MediumOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MålemetodeType">
    <annotation>
      <documentation>metode som ligger til grunn for registrering av posisjon</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">MÅLEMETODE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="app:MålemetodeEnumerationType app:MålemetodeOtherType"/>
  </simpleType>
  <simpleType name="MålemetodeEnumerationType">
    <annotation>
      <documentation>metode som ligger til grunn for registrering av posisjon</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">MÅLEMETODE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="10">
        <annotation>
          <documentation>Målt i terrenget , uspesifisert metode/måleinstrument</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11">
        <annotation>
          <documentation>Målt i terrenget med totalstasjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12">
        <annotation>
          <documentation>Målt i terrenget med teodolitt og elektronisk avstandsmåler</documentation>
        </annotation>
      </enumeration>
      <enumeration value="13">
        <annotation>
          <documentation>Målt i terrenget med teodolitt og målebånd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="14">
        <annotation>
          <documentation>Målt i terrenget, ortogonalmetoden</documentation>
        </annotation>
      </enumeration>
      <enumeration value="15">
        <annotation>
          <documentation>Punkt beregnet på bakgrunn av måling mot andre punkter, slik som to avstander eller avstand og retning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="18">
        <annotation>
          <documentation>Tatt fra plan eller godkjent tiltak</documentation>
        </annotation>
      </enumeration>
      <enumeration value="19">
        <annotation>
          <documentation>Annet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="20">
        <annotation>
          <documentation>Målt i stereoinstrument, uspesifisert instrument</documentation>
        </annotation>
      </enumeration>
      <enumeration value="21">
        <annotation>
          <documentation>Punkt beregnet ved aerotriangulering</documentation>
        </annotation>
      </enumeration>
      <enumeration value="22">
        <annotation>
          <documentation>Målt i stereoinstrument, analytisk plotter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="23">
        <annotation>
          <documentation>Målt i stereoinstrument, autograf, analogt instrument</documentation>
        </annotation>
      </enumeration>
      <enumeration value="24">
        <annotation>
          <documentation>Målt i stereoinstrument, digitalt instrument</documentation>
        </annotation>
      </enumeration>
      <enumeration value="30">
        <annotation>
          <documentation>Geometri overført fra kart maskinelt ved hjelp av skanner, uspesifisert kartmedium</documentation>
        </annotation>
      </enumeration>
      <enumeration value="31">
        <annotation>
          <documentation>Geometri overført fra kart maskinelt ved hjelp av skanner. Kartmedium er blyantoriginal</documentation>
        </annotation>
      </enumeration>
      <enumeration value="32">
        <annotation>
          <documentation>Geometri overført fra kart maskinelt ved hjelp av skanner. Kartmedium er rissefolie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="33">
        <annotation>
          <documentation>Geometri overført fra kart maskinelt ved hjelp av skanner. Kartmedium er transparent folie av  god kvalitet.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="34">
        <annotation>
          <documentation>Geometri overført fra kart maskinelt ved hjelp av skanner. Kartmedium er transparent folie av mindre god kvalitet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="35">
        <annotation>
          <documentation>Geometri overført fra kart maskinelt ved hjelp av skanner. Kartmedium er papirkopi.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="36">
        <annotation>
          <documentation>Målt med laserskanner fra fly</documentation>
        </annotation>
      </enumeration>
      <enumeration value="37">
        <annotation>
          <documentation>Målt med laserskanner plassert i kjøretøy</documentation>
        </annotation>
      </enumeration>
      <enumeration value="38">
        <annotation>
          <documentation>brukes for objekter som er stedfestet med lineær referanse, enten disse leveres med stedfesting kun som lineære referanser, eller med koordinatgeometri avledet fra lineære referanser</documentation>
        </annotation>
      </enumeration>
      <enumeration value="39">
        <annotation>
          <documentation>Målt med laserskanner fra instrument på bakken</documentation>
        </annotation>
      </enumeration>
      <enumeration value="40">
        <annotation>
          <documentation>Geometri overført fra ortofoto eller flybilde ved hjelp av manuell registrering på et digitaliseringsbord, uspesifisert bildemedium</documentation>
        </annotation>
      </enumeration>
      <enumeration value="41">
        <annotation>
          <documentation>Geometri overført fra ortofoto ved hjelp av manuell registrering på et digitaliseringsbord. Bildemedium er film</documentation>
        </annotation>
      </enumeration>
      <enumeration value="42">
        <annotation>
          <documentation>Geometri overført fra ortofoto ved hjelp av manuell registrering på et digitaliseringsbord. Bildemedium er fotokopi</documentation>
        </annotation>
      </enumeration>
      <enumeration value="43">
        <annotation>
          <documentation>Geometri overført fra flybilde ved hjelp av manuell registrering på et digitaliseringsbord. Bildemedium er film</documentation>
        </annotation>
      </enumeration>
      <enumeration value="44">
        <annotation>
          <documentation>Geometri overført fra flybilde ved hjelp av manuell registrering på et digitaliseringsbord. Bildemedium er fotokopi</documentation>
        </annotation>
      </enumeration>
      <enumeration value="45">
        <annotation>
          <documentation>Geometri overført fra ortofoto ved hjelp av manuell registrering på skjerm</documentation>
        </annotation>
      </enumeration>
      <enumeration value="46">
        <annotation>
          <documentation>Geometri overført fra satellittbilde ved hjelp av manuell registrering på skjerm</documentation>
        </annotation>
      </enumeration>
      <enumeration value="47">
        <annotation>
          <documentation>Digitalisert på skjerm fra andre digitale rasterdata</documentation>
        </annotation>
      </enumeration>
      <enumeration value="48">
        <annotation>
          <documentation>Digitalisert på skjerm fra tolkning av seismikk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="49">
        <annotation>
          <documentation>Vektorisering fra laserdata, brukes også der vektoriseringen støttes av ortofoto</documentation>
        </annotation>
      </enumeration>
      <enumeration value="50">
        <annotation>
          <documentation>Geometri overført fra kart ved hjelp av manuell registrering på et digitaliseringsbord, medium uspesifisert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="51">
        <annotation>
          <documentation>Geometri overført fra kart ved hjelp av manuell registrering på et digitaliseringsbord. Kartmedium er blyantoriginal</documentation>
        </annotation>
      </enumeration>
      <enumeration value="52">
        <annotation>
          <documentation>Geometri overført fra kart ved hjelp av manuell registrering på et digitaliseringsbord. Kartmedium er rissefolie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="53">
        <annotation>
          <documentation>Geometri overført fra kart ved hjelp av manuell registrering på et digitaliseringsbord. Kartmedium er transparent folie av god kvalitet, samkopi</documentation>
        </annotation>
      </enumeration>
      <enumeration value="54">
        <annotation>
          <documentation>Geometri overført fra kart ved hjelp av manuell registrering på et digitaliseringsbord. Kartmedium er transparent folie av mindre god kvalitet, samkopi</documentation>
        </annotation>
      </enumeration>
      <enumeration value="55">
        <annotation>
          <documentation>Geometri overført fra kart ved hjelp av manuell registrering på et digitaliseringsbord. Kartmedium er papirkopi</documentation>
        </annotation>
      </enumeration>
      <enumeration value="56">
        <annotation>
          <documentation>Geometri overført fra kart ved hjelp av manuell registrering på skjerm, medium skannet kart (raster), samkopi</documentation>
        </annotation>
      </enumeration>
      <enumeration value="60">
        <annotation>
          <documentation>Genererte data, interpolasjonsmetode. Ikke nærmere spesifisert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="61">
        <annotation>
          <documentation>Genererte data, interpolasjonsmetode, fra terrengmodell</documentation>
        </annotation>
      </enumeration>
      <enumeration value="62">
        <annotation>
          <documentation>Genererte data, interpolasjonsmetode, vektet middel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="63">
        <annotation>
          <documentation>Genererte data: Sirkelgeometri, korridor eller annen geometri generert ut fra f.eks et punkt eller en linje (f.eks midtlinje veg)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="64">
        <annotation>
          <documentation>Genererte data: Generalisering</documentation>
        </annotation>
      </enumeration>
      <enumeration value="65">
        <annotation>
          <documentation>Genererte data: Sentralpunkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="66">
        <annotation>
          <documentation>Genererte data: Sammenknytningspunkt (f.eks mellom ulike kartlegginger), randpunkt (f.eks mellom ulike kilder til kart)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="67">
        <annotation>
          <documentation>Koordinater hentet fra GAB/Matrikkelen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="68">
        <annotation>
          <documentation>Koordinater hentet fra JREG, jordregisteret</documentation>
        </annotation>
      </enumeration>
      <enumeration value="69">
        <annotation>
          <documentation>Beregnet, uspesifisert hvordan</documentation>
        </annotation>
      </enumeration>
      <enumeration value="70">
        <annotation>
          <documentation>Spesielle metoder, uspesifisert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="71">
        <annotation>
          <documentation>Spesielle metoder: Målt med stikkstang</documentation>
        </annotation>
      </enumeration>
      <enumeration value="72">
        <annotation>
          <documentation>Spesielle metoder: Målt med waterstang</documentation>
        </annotation>
      </enumeration>
      <enumeration value="73">
        <annotation>
          <documentation>Spesielle metoder: Målt med målehjul</documentation>
        </annotation>
      </enumeration>
      <enumeration value="74">
        <annotation>
          <documentation>Spesielle metoder: Målt med stigningsmåler</documentation>
        </annotation>
      </enumeration>
      <enumeration value="75">
        <annotation>
          <documentation>Data generert ved bildematching</documentation>
        </annotation>
      </enumeration>
      <enumeration value="77">
        <annotation>
          <documentation>Punkt fastsatt ut fra et grunnlag (kart, bilde), f.eks ved partenes enighet ved en oppmålingsforretning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="78">
        <annotation>
          <documentation>Geometri fastsatt ved dom, lov, traktat eller kongelig resolusjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="79">
        <annotation>
          <documentation>Annet (spesifiseres i filhode)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="80">
        <annotation>
          <documentation>Digitalisert ut fra frihåndstegning.  Frihåndstegning er basert på svært grovt grunnlag eller ikke noe grunnlag</documentation>
        </annotation>
      </enumeration>
      <enumeration value="81">
        <annotation>
          <documentation>Digitalisert fra krokering på kart, dvs grovt skissert på kart</documentation>
        </annotation>
      </enumeration>
      <enumeration value="82">
        <annotation>
          <documentation>Digitalisert ut fra frihåndstegning (direkte på skjerm). Frihåndstegning er basert på svært grovt grunnlag eller ikke noe grunnlag</documentation>
        </annotation>
      </enumeration>
      <enumeration value="90">
        <annotation>
          <documentation>Treghetsstedfesting</documentation>
        </annotation>
      </enumeration>
      <enumeration value="91">
        <annotation>
          <documentation>Innmålt med satellittbaserte systemer for navigasjon og posisjonering med global dekning (f.eks GPS, GLONASS, GALILEO): Kodemåling, relative målinger.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="92">
        <annotation>
          <documentation>Innmålt med satellittbaserte systemer for navigasjon og posisjonering med global dekning (f.eks GPS, GLONASS, GALILEO): Kodemåling, enkle målinger.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="93">
        <annotation>
          <documentation>Innmålt med satellittbaserte systemer for navigasjon og posisjonering med global dekning (f.eks GPS, GLONASS, GALILEO): Fasemåling statisk måling.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="94">
        <annotation>
          <documentation>Innmålt med satellittbaserte systemer for navigasjon og posisjonering med global dekning (f.eks GPS, GLONASS, GALILEO): Fasemåling andre metoder.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="95">
        <annotation>
          <documentation>Kombinasjon av GPS/Treghet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="96">
        <annotation>
          <documentation>Innmålt med satellittbaserte systemer for navigasjon og posisjonering med global dekning (f.eks GPS, GLONASS, GALILEO).: Fasemåling RTK (realtids kinematisk måling)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="97">
        <annotation>
          <documentation>Innmålt med satellittbaserte systemer for navigasjon og posisjonering med global dekning (f.eks GPS, GLONASS, GALILEO). Fasemåling float-løsning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99">
        <annotation>
          <documentation>Målemetode er ukjent</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MålemetodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MålemetodeHøydeType">
    <annotation>
      <documentation>metode for å måle objekttypens høydeverdi</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">H-MÅLEMETODE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="app:MålemetodeHøydeEnumerationType app:MålemetodeHøydeOtherType"/>
  </simpleType>
  <simpleType name="MålemetodeHøydeEnumerationType">
    <annotation>
      <documentation>metode for å måle objekttypens høydeverdi</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">H-MÅLEMETODE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="10">
        <annotation>
          <documentation>Terrengmålt: Uspesifisert måleinstrument</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11">
        <annotation>
          <documentation>Terrengmålt: Totalstasjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="12">
        <annotation>
          <documentation>Terrengmålt: Teodolitt og el avstandsmåler</documentation>
        </annotation>
      </enumeration>
      <enumeration value="13">
        <annotation>
          <documentation>Terrengmålt: Teodolitt og målebånd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="14">
        <annotation>
          <documentation>Terrengmålt: Ortogonalmetoden</documentation>
        </annotation>
      </enumeration>
      <enumeration value="15">
        <annotation>
          <documentation>Nivellement</documentation>
        </annotation>
      </enumeration>
      <enumeration value="18">
        <annotation>
          <documentation>Tatt fra plan</documentation>
        </annotation>
      </enumeration>
      <enumeration value="19">
        <annotation>
          <documentation>Annet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="20">
        <annotation>
          <documentation>Stereoinstrument</documentation>
        </annotation>
      </enumeration>
      <enumeration value="21">
        <annotation>
          <documentation>Aerotriangulert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="22">
        <annotation>
          <documentation>Stereoinstrument: Analytisk plotter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="23">
        <annotation>
          <documentation>Stereoinstrument: Autograf</documentation>
        </annotation>
      </enumeration>
      <enumeration value="24">
        <annotation>
          <documentation>Stereoinstrument: Digitalt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="36">
        <annotation>
          <documentation>Flybåren laserscanning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="60">
        <annotation>
          <documentation>Genererte data (interpolasjon)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="61">
        <annotation>
          <documentation>Genererte data (interpolasjon): Terrengmodell</documentation>
        </annotation>
      </enumeration>
      <enumeration value="62">
        <annotation>
          <documentation>Genererte data (interpolasjon): Vektet middel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="63">
        <annotation>
          <documentation>Genererte data: Fra annen geometri</documentation>
        </annotation>
      </enumeration>
      <enumeration value="64">
        <annotation>
          <documentation>Genererte data: Generalisering</documentation>
        </annotation>
      </enumeration>
      <enumeration value="66">
        <annotation>
          <documentation>Genererte data: Sammenknytningspunkt, randpunkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="67">
        <annotation>
          <documentation>Koordinater hentet fra GAB</documentation>
        </annotation>
      </enumeration>
      <enumeration value="68">
        <annotation>
          <documentation>Koordinater hentet fra JREG</documentation>
        </annotation>
      </enumeration>
      <enumeration value="69">
        <annotation>
          <documentation>Beregnet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="70">
        <annotation>
          <documentation>Spesielle metoder</documentation>
        </annotation>
      </enumeration>
      <enumeration value="74">
        <annotation>
          <documentation>Spesielle metoder: Målt med stigningsmåler</documentation>
        </annotation>
      </enumeration>
      <enumeration value="78">
        <annotation>
          <documentation>Fastsatt ved dom eller kongelig resolusjon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="79">
        <annotation>
          <documentation>Annet (spesifiseres i filhode)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="90">
        <annotation>
          <documentation>Treghetsstedfesting</documentation>
        </annotation>
      </enumeration>
      <enumeration value="91">
        <annotation>
          <documentation>GNSS: Kodemåling, relative målinger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="92">
        <annotation>
          <documentation>GNSS: Kodemåling, enkle målinger</documentation>
        </annotation>
      </enumeration>
      <enumeration value="93">
        <annotation>
          <documentation>GNSS: Fasemåling, statisk måling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="94">
        <annotation>
          <documentation>GNSS: Fasemåling, andre metoder</documentation>
        </annotation>
      </enumeration>
      <enumeration value="95">
        <annotation>
          <documentation>Kombinasjon av GNSS/Treghet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="96">
        <annotation>
          <documentation>GNSS: Fasemåling RTK</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99">
        <annotation>
          <documentation>Ukjent målemetode</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MålemetodeHøydeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Parkeringsområde" substitutionGroup="app:Fellesegenskaper" type="app:ParkeringsområdeType">
    <annotation>
      <documentation>område for parkering av kjøretøy</documentation>
    </annotation>
  </element>
  <complexType name="ParkeringsområdeType">
    <complexContent>
      <extension base="app:FellesegenskaperType">
        <sequence>
          <element name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>objektets utstrekning</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>sted som objektet eksisterer på</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ParkeringsområdePropertyType">
    <sequence minOccurs="0">
      <element ref="app:Parkeringsområde"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ParkeringsområdeAvgrensning" substitutionGroup="app:KvalitetPåkrevd" type="app:ParkeringsområdeAvgrensningType">
    <annotation>
      <documentation>avgrensning av område for parkering av kjøretøy</documentation>
    </annotation>
  </element>
  <complexType name="ParkeringsområdeAvgrensningType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ParkeringsområdeAvgrensningPropertyType">
    <sequence minOccurs="0">
      <element ref="app:ParkeringsområdeAvgrensning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Posisjonskvalitet" substitutionGroup="gml:AbstractObject" type="app:PosisjonskvalitetType">
    <annotation>
      <documentation>beskrivelse av kvaliteten på stedfestingen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">KVALITET</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="PosisjonskvalitetType">
    <sequence>
      <element name="målemetode" type="app:MålemetodeType">
        <annotation>
          <documentation>metode for måling i grunnriss (x,y), og høyde (z) når metoden er den samme som ved måling i grunnriss</documentation>
        </annotation>
      </element>
      <element name="nøyaktighet" type="integer">
        <annotation>
          <documentation>punktstandardavviket i grunnriss for punkter samt tverravvik for linjer

Merknad:
Oppgitt i cm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NØYAKTIGHET</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="synbarhet" type="app:SynbarhetType">
        <annotation>
          <documentation>hvor godt den kartlagte detalj var synbar ved kartleggingen</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="målemetodeHøyde" type="app:MålemetodeHøydeType">
        <annotation>
          <documentation>metode for å måle høyden</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="nøyaktighetHøyde" type="integer">
        <annotation>
          <documentation>nøyaktighet for høyden i cm</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">H-NØYAKTIGHET</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="PosisjonskvalitetPropertyType">
    <sequence>
      <element ref="app:Posisjonskvalitet"/>
    </sequence>
  </complexType>
  <element name="Registreringsversjon" substitutionGroup="gml:AbstractObject" type="app:RegistreringsversjonType">
    <annotation>
      <documentation>angir hvilken versjon av registreringsinstruksen som ble benyttet ved datafangst

Eksempel:
I et datasett kan det finnes objekter som er etablert fra ulike registreringsversjoner. For eksempel har registreringsinstruksen for objekttypen Takkant i FKB blitt endret fra SOSI/FKB-versjon 3.4 til versjon 4.0. Dersom en kommune ønsker å ajourføre Takkant for et delområde av kommunen etter FKB/SOSI-versjon 4.0, vil han etter ajourføring ha et kommunedekkende datasett der Takkant er registrert med forskjellig registreringsinstruks. I disse tilfellene kan det være nyttig å kunne skille på objektnivå hvilken registreringsversjon som er benyttet ved datafangst. Egenskapen kan benyttes til dette.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">REGISTRERINGSVERSJON</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="RegistreringsversjonType">
    <sequence>
      <element name="produkt" type="string">
        <annotation>
          <documentation>entydig navn på produktet i form av et kortnavn

NB. Denne burde vært samordnet med Objektkatalog/Kortnavn som brukes i SOSI-hode på SOSI-format-datasett. Øker lengden fra 15 til 50 som den føste tilpasningen.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">PRODUKT</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element name="versjon" type="string">
        <annotation>
          <documentation>versjonsnummer</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VERSJON</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="undertype" type="string">
        <annotation>
          <documentation>brukes for å skille mellom undertyper av en versjon, dvs. endringer i registeringsinstruks for et objekt</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">UNDERVERSJON</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="RegistreringsversjonPropertyType">
    <sequence>
      <element ref="app:Registreringsversjon"/>
    </sequence>
  </complexType>
  <element name="Skiltportal" substitutionGroup="app:KvalitetPåkrevd" type="app:SkiltportalType">
    <annotation>
      <documentation>anordning for å henge opp skilt, teknisk utstyr etc. over kjørefeltene</documentation>
    </annotation>
  </element>
  <complexType name="SkiltportalType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>forløp som følger objektets sentrale del</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkiltportalPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Skiltportal"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="SynbarhetType">
    <annotation>
      <documentation>hvor godt den kartlagte detalj var synbar ved kartleggingen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">SYNBARHET</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="app:SynbarhetEnumerationType app:SynbarhetOtherType"/>
  </simpleType>
  <simpleType name="SynbarhetEnumerationType">
    <annotation>
      <documentation>hvor godt den kartlagte detalj var synbar ved kartleggingen</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">SYNBARHET</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>Fullt ut synlig/gjenfinnbar i terrenget (default-verdi)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>Forøvrig grei å innmåle. (Benyttes bl.a. for innmåling av ledninger på lukket grøft)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>Middels synlig i flybilde/modell</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>Dårlig/ikke synlig i flybilde/modell</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SynbarhetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Trafikksignalpunkt" substitutionGroup="app:KvalitetPåkrevd" type="app:TrafikksignalpunktType">
    <annotation>
      <documentation>lys i (minst to) forskjellige farger som fungerer som trafikksignal</documentation>
    </annotation>
  </element>
  <complexType name="TrafikksignalpunktType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>sted som objektet eksisterer på</documentation>
            </annotation>
          </element>
          <element name="høydereferanse" type="app:HøydereferanseType">
            <annotation>
              <documentation>koordinatregistering utført på topp eller bunn av et objekt</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">HREF</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikksignalpunktPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Trafikksignalpunkt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Trafikkøy" substitutionGroup="app:Fellesegenskaper" type="app:TrafikkøyType">
    <annotation>
      <documentation>område som er begrenset av kjørefelt på alle sider og som normalt ikke skal benyttes av kjøretøy</documentation>
    </annotation>
  </element>
  <complexType name="TrafikkøyType">
    <complexContent>
      <extension base="app:FellesegenskaperType">
        <sequence>
          <element name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>objektets utstrekning</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>sted som objektet eksisterer på</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkøyPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Trafikkøy"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Trafikkøykant" substitutionGroup="app:KvalitetPåkrevd" type="app:TrafikkøykantType">
    <annotation>
      <documentation>avgrensning av veg mot trafikkdeler, midtdeler, og trafikkøyer</documentation>
    </annotation>
  </element>
  <complexType name="TrafikkøykantType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nedsenketKantstein" type="boolean">
            <annotation>
              <documentation>om fortauskanten er nedsenket eller ikke</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NEDSENKETKANTSTEIN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydereferanse" type="app:HøydereferanseType">
            <annotation>
              <documentation>koordinatregistering utført på topp eller bunn av et objekt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafikkøykantPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Trafikkøykant"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Traktorveg" substitutionGroup="app:Fellesegenskaper" type="app:TraktorvegType">
    <annotation>
      <documentation>veg som hele året (eller deler av året) ikke egner seg for vanlig bilkjøring, men som er farbar med traktor</documentation>
    </annotation>
  </element>
  <complexType name="TraktorvegType">
    <complexContent>
      <extension base="app:FellesegenskaperType">
        <sequence>
          <element name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>objektets utstrekning</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>sted som objektet eksisterer på</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TraktorvegPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Traktorveg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Traktorvegkant" substitutionGroup="app:KvalitetPåkrevd" type="app:TraktorvegkantType">
    <annotation>
      <documentation>avgrensning av traktorveg</documentation>
    </annotation>
  </element>
  <complexType name="TraktorvegkantType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TraktorvegkantPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Traktorvegkant"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TypeVegbomType">
    <annotation>
      <documentation>Angir hvilken type vegbommen er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEVEGBOM</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="app:TypeVegbomEnumerationType app:TypeVegbomOtherType"/>
  </simpleType>
  <simpleType name="TypeVegbomEnumerationType">
    <annotation>
      <documentation>Angir hvilken type vegbommen er av</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_TYPEVEGBOM</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="heveSenkebom">
        <annotation>
          <documentation>Heve-/senkebom</documentation>
        </annotation>
      </enumeration>
      <enumeration value="heveSenkebomEnsidig">
        <annotation>
          <documentation>Heve-/senkebom, ensidig</documentation>
        </annotation>
      </enumeration>
      <enumeration value="heveSenkebomTosidig">
        <annotation>
          <documentation>Heve-/senkebom, tosidig</documentation>
        </annotation>
      </enumeration>
      <enumeration value="svingbom">
        <annotation>
          <documentation>Svingbom</documentation>
        </annotation>
      </enumeration>
      <enumeration value="svingbomEnsidig">
        <annotation>
          <documentation>Svingbom, ensidig</documentation>
        </annotation>
      </enumeration>
      <enumeration value="svingbomTosidig">
        <annotation>
          <documentation>Svingbom, tosidig</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongkjegle">
        <annotation>
          <documentation>Betongkjegle</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rørgelender">
        <annotation>
          <documentation>Rørgelender</documentation>
        </annotation>
      </enumeration>
      <enumeration value="steinblokk">
        <annotation>
          <documentation>Steinblokk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="newJersey">
        <annotation>
          <documentation>New jersey</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bilsperre">
        <annotation>
          <documentation>Bilsperre</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TypeVegbomOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Veg" substitutionGroup="app:Fellesegenskaper" type="app:VegType">
    <annotation>
      <documentation>hovedferdselsåre for motorisert trafikk (biler, motorsykler mv)</documentation>
    </annotation>
  </element>
  <complexType name="VegType">
    <complexContent>
      <extension base="app:FellesegenskaperType">
        <sequence>
          <element name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>objektets utstrekning</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>sted som objektet eksisterer på</documentation>
            </annotation>
          </element>
          <element name="vegreferanse" type="app:VegreferansePropertyType">
            <annotation>
              <documentation>sammensatt identifikator for en vegrute</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vegOverVeg" type="boolean">
            <annotation>
              <documentation>egenskapen vegOverVeg benyttes der man har flere veger over hverandre (store trafikkmaskiner som Sinsen-krysset). Verdi JA benyttes for vegen som ligger øverst. Denne egenskapen benyttes for å styre hvilke flater som skal tegnes øverst (prioritet).  Ikke påkrevd å benytte ved en veg over annen veg, da styrer MEDIUM-mekanismen også uttegningen.
 </documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VEGOVERVEG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Veg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VegStatusType">
    <annotation>
      <documentation>angir veglenkens status</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGSTATUS</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="app:VegStatusEnumerationType app:VegStatusOtherType"/>
  </simpleType>
  <simpleType name="VegStatusEnumerationType">
    <annotation>
      <documentation>angir veglenkens status</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGSTATUS</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="V">
        <annotation>
          <documentation>Eksisterende veg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="G">
        <annotation>
          <documentation>Gang og sykkelveg</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VegStatusOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegbom" substitutionGroup="app:KvalitetPåkrevd" type="app:VegbomType">
    <annotation>
      <documentation>fysisk vegbom. Kan både være bommer som permanent sperrer for kjøring (vegsperringer) og bommer som kan passeres, f.eks. ved å betale avgift.</documentation>
    </annotation>
  </element>
  <complexType name="VegbomType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>forløp som følger objektets sentrale del</documentation>
            </annotation>
          </element>
          <element name="høydereferanse" type="app:HøydereferanseType">
            <annotation>
              <documentation>koordinatregistering utført på topp eller bunn av et objekt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vegbomtype" type="app:TypeVegbomType">
            <annotation>
              <documentation>Angir hvilken type vegbommen er av</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegbomPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Vegbom"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Vegdekkekant" substitutionGroup="app:KvalitetPåkrevd" type="app:VegdekkekantType">
    <annotation>
      <documentation>sideveis avgrensning av vegdekke</documentation>
    </annotation>
  </element>
  <complexType name="VegdekkekantType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nedsenketKantstein" type="boolean">
            <annotation>
              <documentation>om fortauskanten er nedsenket eller ikke</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NEDSENKETKANTSTEIN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydereferanse" type="app:HøydereferanseType">
            <annotation>
              <documentation>koordinatregistering utført på topp eller bunn av et objekt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegdekkekantPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Vegdekkekant"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VeggrøftÅpen" substitutionGroup="app:KvalitetPåkrevd" type="app:VeggrøftÅpenType">
    <annotation>
      <documentation>åpen drenering parallelt med veg</documentation>
    </annotation>
  </element>
  <complexType name="VeggrøftÅpenType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VeggrøftÅpenPropertyType">
    <sequence minOccurs="0">
      <element ref="app:VeggrøftÅpen"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VegkantAnnetVegareal" substitutionGroup="app:KvalitetPåkrevd" type="app:VegkantAnnetVegarealType">
    <annotation>
      <documentation>fiktiv linje som avgrenser veg mot "annet vegareal" som ligger i tilknytning til vegnettet. Eksempel på "annet vegareal" er åpne parkeringsplasser, industriområder og gårdsplasser</documentation>
    </annotation>
  </element>
  <complexType name="VegkantAnnetVegarealType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegkantAnnetVegarealPropertyType">
    <sequence minOccurs="0">
      <element ref="app:VegkantAnnetVegareal"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VegkantAvkjørsel" substitutionGroup="app:KvalitetPåkrevd" type="app:VegkantAvkjørselType">
    <annotation>
      <documentation>avgrensning av veg mot privat avkjørsel</documentation>
    </annotation>
  </element>
  <complexType name="VegkantAvkjørselType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegkantAvkjørselPropertyType">
    <sequence minOccurs="0">
      <element ref="app:VegkantAvkjørsel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VegkantFiktiv" substitutionGroup="app:KvalitetOpsjonell" type="app:VegkantFiktivType">
    <annotation>
      <documentation>fiktiv avgrensningslinje (lukkelinje) for vegflater</documentation>
    </annotation>
  </element>
  <complexType name="VegkantFiktivType">
    <complexContent>
      <extension base="app:KvalitetOpsjonellType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegkantFiktivPropertyType">
    <sequence minOccurs="0">
      <element ref="app:VegkantFiktiv"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VegkategoriType">
    <annotation>
      <documentation>angir hvilken type veg veglenken beskriver</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGKATEGORI</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="app:VegkategoriEnumerationType app:VegkategoriOtherType"/>
  </simpleType>
  <simpleType name="VegkategoriEnumerationType">
    <annotation>
      <documentation>angir hvilken type veg veglenken beskriver</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NVDB_VEGKATEGORI</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="E">
        <annotation>
          <documentation>Europaveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>Fylkesveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="K">
        <annotation>
          <documentation>Kommunal veg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="P">
        <annotation>
          <documentation>Privat veg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R">
        <annotation>
          <documentation>Riksveg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S">
        <annotation>
          <documentation>Skogsveg, registrert i landbruksforvaltningas vegregister</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VegkategoriOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="VegoppmerkingLangsgående" substitutionGroup="app:KvalitetPåkrevd" type="app:VegoppmerkingLangsgåendeType">
    <annotation>
      <documentation>langsgående linjer med opplysninger til trafikantene</documentation>
    </annotation>
  </element>
  <complexType name="VegoppmerkingLangsgåendeType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>forløp som følger objektets sentrale del</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegoppmerkingLangsgåendePropertyType">
    <sequence minOccurs="0">
      <element ref="app:VegoppmerkingLangsgående"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Vegreferanse" substitutionGroup="gml:AbstractObject" type="app:VegreferanseType">
    <annotation>
      <documentation>sammensatt identifikator for en vegrute</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VREF</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="VegreferanseType">
    <sequence>
      <element name="vegkategori" type="app:VegkategoriType">
        <annotation>
          <documentation>angir hvilken type veg veglenken beskriver</documentation>
        </annotation>
      </element>
      <element name="vegstatus" type="app:VegStatusType">
        <annotation>
          <documentation>angir veglenkens status</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="vegnummer" type="integer">
        <annotation>
          <documentation>angir nummeret til en vegrute</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VEGNUMMER</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="VegreferansePropertyType">
    <sequence>
      <element ref="app:Vegreferanse"/>
    </sequence>
  </complexType>
  <element name="Vegrekkverk" substitutionGroup="app:KvalitetPåkrevd" type="app:VegrekkverkType">
    <annotation>
      <documentation>hinder som står langs vegskulder. Brukes også som midtdeler</documentation>
    </annotation>
  </element>
  <complexType name="VegrekkverkType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>forløp som følger objektets sentrale del</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høydereferanse" type="app:HøydereferanseType">
            <annotation>
              <documentation>koordinatregistering utført på topp eller bunn av et objekt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rekkverkstype" type="app:VegrekkverkTypeType">
            <annotation>
              <documentation>type rekkverk</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegrekkverkPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Vegrekkverk"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VegrekkverkTypeType">
    <annotation>
      <documentation>angivelse av ulike typer rekkverk</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VEGREKKVERKTYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="app:VegrekkverkTypeEnumerationType app:VegrekkverkTypeOtherType"/>
  </simpleType>
  <simpleType name="VegrekkverkTypeEnumerationType">
    <annotation>
      <documentation>angivelse av ulike typer rekkverk</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VEGREKKVERKTYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="betongrekkverk">
        <annotation>
          <documentation>Betongrekkverk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongrekkverkNewJersey">
        <annotation>
          <documentation>Betongrekkverk New Jersey</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongrekkverkPlasstøpt">
        <annotation>
          <documentation>Betongrekkverk plasstøpt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongrekkverkPrefabrikerteElement">
        <annotation>
          <documentation>Betongrekkverk prefabrikerte element</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongrekkverkStabbSaxegård">
        <annotation>
          <documentation>Betongrekkverk Stabb/Saxegård</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rekkverkMedSkinne">
        <annotation>
          <documentation>Rekkverk med skinne</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rekkverkMedWire">
        <annotation>
          <documentation>Rekkverk med wire</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stabbesteiner">
        <annotation>
          <documentation>Stabbesteiner</documentation>
        </annotation>
      </enumeration>
      <enumeration value="topprekkverkPåMurKantdrage">
        <annotation>
          <documentation>Topprekkverk på mur/kantdrage</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VegrekkverkTypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Vegskulderkant" substitutionGroup="app:KvalitetPåkrevd" type="app:VegskulderkantType">
    <annotation>
      <documentation>kant av kjørbart felt som ligger inntil kjørebanen. Inkluderer i tillegg rom for rekkverk etc.</documentation>
    </annotation>
  </element>
  <complexType name="VegskulderkantType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nedsenketKantstein" type="boolean">
            <annotation>
              <documentation>om fortauskanten er nedsenket eller ikke</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NEDSENKETKANTSTEIN</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydereferanse" type="app:HøydereferanseType">
            <annotation>
              <documentation>koordinatregistering utført på topp eller bunn av et objekt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="app:MediumType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegskulderkantPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Vegskulderkant"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
